# env
.DS_Store
.tmp
.nx
.idea

# npm 
node_modules

# ts
tsconfig.tsbuildinfo

# test
coverage

# analyzer
analyzer.html

# Coverage directory used by tools like istanbul
coverage

# output dir
temp
dist
lib
esm
